{
	GNUstepOutput = {
	    BackgroundColor = "IRCColorCustom 1000 973 863";
	    OtherBracketColor = "IRCColorCustom 0 0 1000";
	    PersonalBracketColor = "IRCColorCustom 1000 0 0";
	    TextColor = "IRCColorCustom 0 0 0";
	    ServerList = (
		{
	    Entries = (
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.dal.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.dal.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.eu.dal.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.eu.dal.net;
		    UserName = "";
		}
	    );
	    Name = DALnet;
		},
		{
	    Entries = (
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.Prison.NET;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.Prison.NET;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.Qeast.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.Qeast.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.efnet.pl;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.efnet.pl;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.flamed.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.flamed.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = efnet.demon.co.uk;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = efnet.demon.co.uk;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.lagged.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.lagged.org;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.lightning.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.lightning.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.mindspring.com;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.mindspring.com;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.rt.ru;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.rt.ru;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.easynews.com;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.easynews.com;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.servercentral.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.servercentral.net;
		    UserName = "";
		}
	    );
	    Name = EFnet;
		},
		{
	    Entries = (
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.freenode.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.freenode.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.eu.freenode.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.eu.freenode.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.au.freenode.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.au.freenode.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.us.freenode.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.us.freenode.net;
		    UserName = "";
		}
	    );
	    Name = FreeNode;
		},
		{
	    Entries = (
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = east.us.gamesnet.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = east.us.gamesnet.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.ca.gamesnetnet;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.ca.gamesnet.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.eu.gamesnet.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.eu.gamesnet.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.gamesnet.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.gamesnet.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.us.gamesnet.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.us.gamesnet.net;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = west.us.gamesnet.net;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = west.us.gamesnet.net;
		    UserName = "";
		}
	    );
	    Name = GamesNET;
		},
		{
	    Entries = (
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.au.gimp.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.au.gimp.org;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.gimp.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.gimp.org;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.us.gimp.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.us.gimp.org;
		    UserName = "";
		}
	    );
	    Name = GimpNet;
		},
		{
	    Entries = (
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = area51.slashnet.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = area51.slashnet.org;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = irc.slashnet.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = irc.slashnet.org;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = moo.slashnet.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = moo.slashnet.org;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = radon.slashnet.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = radon.slashnet.org;
		    UserName = "";
		}
	    );
	    Name = SlashNET;
		},
		{
	    Entries = (
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = us.undernet.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = us.undernet.org;
		    UserName = "";
		},
		{
		    AutoConnect = NO;
		    Commands = "";
		    Name = eu.undernet.org;
		    Nick = "";
		    Password = "";
		    Port = 6667;
		    RealName = "";
		    Server = eu.undernet.org;
		    UserName = "";
		}
	    );
	    Name = UnderNet;
		}
	    );
	};
	Highlighting = {
	    ExtraWords = ();
	    TabAnythingColor = "IRCColorCustom 410 130 140";
	    TabReferenceColor = "IRCColorCustom 130 140 410";
	    UserColor = IRCColorBlue;
	};
	Nick = TalkSoup;
	Password = "";
	Plugins = {
	    InFilters = (
		Highlighting
	    );
	    Input = NetclassesInput;
	    OutFilters = (
	    );
	    Output = GNUstepOutput;
	};
	RealName = "";
	UserName = "";
}
