{
    ApplicationDescription = "An IRC Client for GNUstep";
    ApplicationIcon = irc;
    ApplicationName = TalkSoup;
    ApplicationRelease = "0.04";
    ApplicationURL = "http://beregorn.homelinux.com/";
    Authors = ("Luis García Alanís <luis.garcia@mac.com>", "Andrew Ruder <aeruder@yahoo.com>");
    Copyright = "Copyright \u00a9 2002 Andrew Ruder <aeruder@yahoo.com>";
    CopyrightDescription = "Released under the GNU GPL. See COPYING for details.";
    FullVersionID = "0.01";
    NSIcon="irc.tiff";
}

