{
    ApplicationDescription = "An IRC Client for GNUstep";
    ApplicationName = TalkSoup;
    ApplicationRelease = "0.80";
    ApplicationURL = "http://linuks.mine.nu/andy/";
    Authors = ("Andrew Ruder <aeruder@yahoo.com>");
    Copyright = "Copyright \u00a9 2003 Andrew Ruder <aeruder@yahoo.com>";
    CopyrightDescription = "Released under the GNU GPL. See COPYING for details.";
    FullVersionID = "0.01";
}
